/**************************************************************************************
 * cssbase.css
 *  色付けおよびフォントファミリーなど、サイズや配置以外のスタイルを定義する
 *  必要があれば、ここのスタイル定義はレスポンシブデザイン用のCSS(mobile,pc,tablet)で
 *  上書き、追加する。
 **************************************************************************************/
/* ====================================================
 * ELEMENT
 * ===================================================*/
body{
  font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
  background-color: #ffffff;
}
main{
  background-color:#dedede;
}
/* ====================================================
 * Font
 * ===================================================*/
.siteTitle{
  font-family:"Meiryo UI";
  font-style:italic;
}
/* ====================================================
 * Layout
 * ===================================================*/
.leftPanel, .rightPanel{
  background-color:#F1F1F1;
  display:inline-block;
}
.mainPanel{
  display:inline-block;
}